table, th {
    border: 1px solid black
}


.grid-container {
    display: grid;
    grid-template-rows: 100px 200px;
}

Body {
    font-display: Arial;
    color: rgb(230, 134, 153);
    padding-left: 2em;
    background-color: rgb(180, 226, 161);
}

h1 {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color:darkturquoise;
}

div {
    background-color: floralwhite;
}
